.App {
  color: white;
  font-family: "Open Sans", sans-serif;  
}

.form {
  border: 0.05px solid rgb(81, 78, 78);
  border-radius: 3px;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.link-container {
  border: 0.05px solid rgb(81, 78, 78);
  border-radius: 3px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
}

.log-body {
  border: 0.05px solid rgb(81, 78, 78);
  border-radius: 3px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
}

.logs {
  border-bottom: 0.05rem solid black;
  margin-bottom: 10px;
}

.scroll {
  height: 420px;
}

.log {
  color: #40be29;
  font-family:monospace;
}
